@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
#root,
.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
h1 {
  margin: 0 !important;
}

.page {
  min-height: 100%;
  width: 100%;
  padding: 1em;
}

.dashboard {
  background: #e0e1bc;
}

.plant-profile {
  background: #b3dc4a;
}

.season-insights {
  background: #6ac0ff;
}
.plant-search {
  background: #fd5c63;
}
